body {
	background-color: #000;
	background-image: url('../source/background/background.jpg');
	background-size: 105% auto;
    background-repeat: no-repeat;
    background-position: center bottom;
}

#title {
	text-align: center;
	padding-bottom: 20px;
}

#banner {
	float: left;
}

#logo {
	display: inline-block;
	margin-right: 20px;
	width: 80px;
	height: 70px;

	background-image: url('../source/background/logo.png');
	background-size: 150% auto;
    background-repeat: no-repeat;
    background-position: center;
}

#logo img, #banner img {
	height: 80px;
	width: auto;
}

#title .text {
	display: inline-block;
	font-family: Microsoft JhengHei, 'Coming Soon', cursive;
	font-size: 24pt;
	font-weight: bold;
	color: #fff;

	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.inner-border {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.page-header {
	border-style: none;
	padding: 0 10%;
	margin-top: 1%;
	margin-bottom: 1%;
}

#game-window {
 	position: relative;
	width: 60%;
	height: 550px;
	margin-left: auto;
	margin-right: auto;
	display: block;

	background-color: #000;
}

#map {
 	position: relative;
	border: 1px solid #000;

	width: 100%;
	height: 100%;

	overflow: hidden;
}

#map img {
	position: absolute;
	bottom: 1px;

	width: 100%;
	height: auto;
	
    transition: all 2s linear;
    transition-timing-function: linear;
}

.blur {
    -webkit-filter: blur(20px);
    -moz-filter: blur(20px);
    -ms-filter: blur(20px);    
    filter: blur(20px);    
}

.ease-in {
    -webkit-filter: blur(200px);
    -moz-filter: blur(200px);
    -ms-filter: blur(200px);    
    filter: blur(200px);    
}

#map .content {
	position: absolute;
	top: 0;
	padding: 30px;

    transition: all 5s linear;
    transition-timing-function: linear;
}

#map .content p {
	margin: 20px 0px;
	padding: 0;

	width: 100%;
	overflow: hidden;

	font-family: DFKai-sb;
	font-size: 16pt;
	font-weight: bold;
	color: #000;
	text-shadow: 0px 0px 5px #fff, 0px 0px 5px #fff, 0px 0px 5px #fff, 0px 0px 5px #fff, 0px 0px 5px #fff, 0px 0px 5px #fff, 0px 0px 5px #fff;

	white-space:nowrap;
}

#main_character, #npc {
	position: absolute;
	top: 0;

	width: 30px;
}

#main_character img, #npc img {
	width: 100%;
	height: auto;
}

#dialog {
	position: absolute;
    bottom: 0;
    
    width: 100%;
    height: 0px;

    border-style: solid;
	border-width: 1px;
	border-radius: 5px;
	border-color: #000;

	overflow: hidden;

    transition: all 500ms linear;
    transition-timing-function: linear;
}

#dialog_mask {
	width: 100%;
	height: 100%;
    transition: all 1s linear;
    transition-timing-function: linear;
}

#dialog .outer {
	background-color: transparent;

	width: 100%;
	height: 100%;

    border-style: solid;
	border-width: 8px;
	border-radius: 5px;
	border-color: #fff;
}

#dialog .inner {
	background-color: rgba(47, 88, 255, 0.5);

	width: 100%;
	height: 100%;

    border-style: solid;
	border-width: 1px;
	border-radius: 5px;
	border-color: #000;
}

#dialog .image {
	margin: 10px 30px;
	height: 90%;
	display: inline-block;
}

#dialog .image img {
	width: auto;
	height: 100%;
}

#dialog .text {
	font-family: Microsoft JhengHei;
	font-size: 18pt;
	font-weight: bold;
	color: #fff;	

	margin: 10px 20px;
	height: 90%;
	display: inline-block;
	vertical-align : top;
}

#dialog .content p, #dialog .options p  {
	margin: 0px;
	padding: 3px;
}

#dialog .options p:hover {
	background-color: rgba(100, 100, 100, 0.5);
}

audio {
	display: none;
}

.hidden {
	display: none !important;
}

#left-ad, #right-ad {
	width: 18%;
	margin-left: 1%;
	margin-right: 1%;
	display: inline-block;
	float: left;
	font-family: 'Helvetica', Microsoft JhengHei, cursive;
	font-size: 12pt;
	color: #fff;
	padding-top: 3%;
	padding-bottom: 30px;
}

#right-ad {
	float: right;
}

#right-ad a {
	font-size: 11pt;
}

#left-ad a, #right-ad a {
	color: #fff;
	text-decoration: none;
}

#left-ad a:hover, #right-ad a:hover {
	color: #ffaa33;
}

#left-ad a:visited, #right-ad a:visited {
	color: #fff;
}


#left-ad a:visited:hover, #right-ad a:visited:hover {
	color: #ffaa33;
}

#start {
	position: absolute;
	top: 0px;
	width: 100%;
	height: 100%;
}

#start .btn {
	display: block;
	margin-left: auto;
	margin-right: auto;
    margin-top: 25%;
	width: 15%;
	padding: 10px 20px;
	border: 0px;
	background-color: #00AA55;
	border-radius: 5px;

	font-size: 24pt;
	font-weight: bold;
	font-family: 'Helvetica';
	color: #fff;
}

#start .btn:hover {
	background-color: #00DD77;
}


#ad-logo {
	margin-top: 7%;
	margin-left: auto;
	margin-right: auto;
}

#ad-logo img {
	display: inline;
	height: 40px;
}


#ad-logo .left {
	margin-left: 20%;
}